<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=test-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Notification System</title>
    <!-- <title>Notification System - {%block title%} {%endblock%}</title> -->

    <!-- /favicon -->
    <link rel="shortcut icon" type="image/png" href="/favicon.ico">

    <!-- Bootstrap core CSS-->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="static/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <div id="wrapper">
        <ul class="sidebar navbar-nav toggled">
            
        </ul>

        {%block body%}
        {%endblock%}
    </div>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    {%block scripts%}
    {%endblock%}
    <script>
        $(function () {
            const socket = io.connect('http://' + document.domain + ':' + location.port + namespace, { transport: 'websocket', forceNew: true });
            socket.on("test_event", function (test_msg) {
                $.notify(test_msg, { position: "top center", style: 'bootstrap' });
            });
        });
    </script>
    </body>

</html>